body {
  background-image: url("images/texture.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  color: #27221f;
}
* {
  margin: 0;
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}
img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 75px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(111, 111, 111);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 200px;
}
.card {
  background-color: rgb(199, 183, 107);
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-top: 0;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
h2 {
  text-align: center;
  position: relative;
  bottom: 50px;
  font-size: 50px;
}
h1 {
  text-align: center;
  font-size: 100px;
}
